MONGODB_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/bloglist?retryWrites=true&w=majority
TEST_MONGODB_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/testBloglist?retryWrites=true&w=majority
PORT=3003
